.contact-container {
  max-width: 350px;
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
  background: linear-gradient(135deg, #bb2649, #565151);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  border: 1px solid black;
  border-radius: 10px;
}
.contact-container h2{
  font-size: 20px;
  color: white;
  font-weight: 700 !important;
}
.form-group input{
  background-color: black;
}
.contact-container p{
  font-size: 12px;
  color: white;
}
.contact-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}
.contact-form .form-label {
  display: block;
  font-size: 13px;
  color: white;
  margin-bottom: 5px;
  margin-top: 10px;  
}
.form-group label {
  color: white;
}
.contact-form .form-input,
.contact-form .form-textarea {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 13px;
  color: white;
}

.contact-form .form-textarea {
  height: 30px;
} 

.contact-form .form-button {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    color: black;
    padding: 5px 100px;
    border-radius: 5px;
    margin-top: 10px;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .contact-button:hover {
    background: rgba(255, 255, 255, 0.3);
  }



.contact-form .form-button{
  background-color: black;
  color: white;
}

