.Project-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Adaptive card width */
  gap: 40px;
  width: 80%; /* Reduce width to fit in screen */
  max-width: 1400px; /* Prevent too wide layout */
  margin-top: 50px;
  margin-left: 100px;
  height: auto;
  box-sizing: border-box;
}
.project-heading h2{
  padding-left: 33%;
  font-size: 30px;
  color: #bb2649;
}
.project-heading span{
  color: #FAFAFA;
}
.project-card {
  background-color: #1e1e1e;
  border-radius: 0px 0px 0px 0px; /* Cards ke edges rounded */
  overflow: hidden;
  text-align: left;
  padding: 0;
  position: relative;
  transition: all 0.4s ease-in-out;
  border-radius: 10px !important;
  border: 1px solid #fff;
}

.project-card:hover {
  transform: scale(1.02);
}

/* Image fix */
.project-image {
  width: 100%; 
  height: 160px;
  object-fit: cover;
  border-radius: 0px 0px 0 0; /* Sirf top corners round */
}
/* Title fix */
.project-role {
  font-size: 15px;
  color: #bb2649;
  font-weight: bold;
  margin: 10px;
} 

/* Description fix */
.project-description {
  font-size: 0.85rem;
  color: white;
  margin: 10px;
  opacity: 0.8;
  line-height: 1.4;
}
/* Responsive Fix */
@media (max-width: 1024px) {
  .Project-container {
    grid-template-columns: repeat(3, 1fr); /* 3 cards in a row */
  }
}

@media (max-width: 768px) {
  .Project-container {
    grid-template-columns: repeat(2, 1fr); /* 2 cards in a row */
  }
}

@media (max-width: 480px) {
  .Project-container {
    grid-template-columns: repeat(1, 1fr); /* 1 card in a row */
  }
}
